
.progress-container {
    width: 100%;
    max-width: 760px;
    background-color: #111e32;
    border-radius: 10px;
    overflow: hidden;
    height: 2px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.2);
}

.progress-bar {
    height: 100%;
    width: 0%;
    background-color: #00ffff;
    transition: width 1s ease;
}

